---
layout: page
title: Authors
description: Podcast Doctrine of Discovery Authors
---
<div class="row mt-5">
{% for author in site.authors %}
<div class="col-md-4 p-3 text-center">
{% if author.image %}<a href="{{ author.url }}"><img class="img-fluid img-profile mb-3" width="100%" height="100%" alt="{{author.title}}" src="{{author.image}}"></a>{% endif %}
<h3><a href="{{ author.url }}">{{ author.title }}</a></h3>
<!-- <p>{{ author.content | markdownify }}</p> -->
</div>
{% endfor %}
</div>


