---
layout: new
title: Tags
description : Hastag Podcast
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<section class="container border-top border-secondary">

  <div class="row mt-5">
<!--  cycles through tag list and creates header row of all tags used in site with accompanying per-tag counts...-->
  {% for this_word in tag_words %}
    <div class="col-md-3 p-3"><a href="#{{ this_word | cgi_escape }}" class="btn-orange">{{ this_word }} <span class="orange">({{ site.tags[this_word].size }})</span></a></div>
  {% endfor %}
  </div>
<!--cycles through tag list and creates subheader for each tag name...-->
<div class="container">
  {% for this_word in tag_words %}
  <h3 id="{{ this_word | cgi_escape }}">{{ this_word }}</h3>
<!--  lists all posts corresponding to specific tag...-->

<div class="row mb-5">
    {% for post in site.tags[this_word] %}{% if post.title != null %}
    <div class="col-md-6 p-3 btn-orange">
        <span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
        <small><span>| {{ post.date | date_to_string }}</span></small>
    </div>
    {% endif %}{% endfor %}
  {% endfor %}
  </div>
</section>
  </div>
  </div>
