{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="col-md-6 p-3 btn-orange">
  <header>
    <h3>
      {% if entry.link %}
        <a class="u-bookmark-of" href="{{ entry.link }}">{{ title }}</a> <a href="{{ entry.url | relative_url }}" rel="bookmark"><span class="link-arrow">&rarr;</span></a>
      {% else %}
        <a href="{{ entry.url | relative_url }}" rel="bookmark">{{ title }}</a>
      {% endif %}
    </h3>
    {% if entry.image.thumbnail %}
      {% assign entry_image = entry.image.thumbnail %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <!--<img class="entry-image u-photo" src="{{ entry_image }}" alt="">-->
    {% endif %}
  </header>
  {% unless page.show_excerpts == false %}
    <div class="entry-excerpt p-summary">
      {% if entry.excerpt %}
        {{ entry.excerpt | markdownify }}
      {% endif %}
    </div>
  {% endunless %}
 
</article>