<div class=" border-top border-secondary">
<div class="container">
<div class="row mt-5 mb-5">
<div class="col-md-6 p-3 p-md-5">
<a href="/"><img class="img-fluid" alt="podcast" width="320" height="240" src="{{site.footer.logo}}"/></a>
</div>
{%- include widget/menu1.html -%}
{%- include widget/menu2.html -%}
</div>
</div>
<div class="container-fluid border-top border-secondary">
<div class="row">
<div class="col-md-9 p-3 p-md-5">
<p>
<small>
{{site.footer.copyright1}}<br/>
{{site.footer.copyright2}}
</small>
</p>
</div>
{%- include widget/social.html -%}
</div>
</div>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>