{%- include "head.html" -%}
{%- include "widget/navbar.html" -%}

<main class="h-entry">
<div class="container">
<div class="row mt-5">
<div class="col-md-6 p-3 p-md-5 text-white language-markup"
 id="features-full" >
<img class="img-fluid" width="100%" height="100%" alt="{{image_alt}}" src="{{image}}"/>
</div>

{% comment %}{% include "archive.html" %}{% endcomment %}

<div class="col-md-6 p-3 p-md-5">
<p>
Author: 
  {% assign author = site.authors | where: 'uid', author | first %}
  {% if author %}
    <a rel="author" class="p-author h-card ms-1" href="{{ author.url }}"><span class="p-name">{{ author.title | default: author.uid }}</span></a>
  {% endif %}
</p>
<p><small>  {% for category in categories %}
    {% capture category_name %}{{ category }}{% endcapture %}
    <a href="{{site.baseurl}}/categories/#{{category}}">{{ category_name }}&nbsp;</a> ·
  {% endfor %}  <time class="dt-published" datetime="{{ date | date_to_xmlschema }}">{{ date | date_to_string }}</time> <span class="ms-5">
<a href="{{site.notes.url}}" class="text-oreo text-nodeco" title="{{site.notes.text}}">{{site.notes.text}}</a></span>
</small></p>
<h1>
<strong><a href="{{page.url}}" class="text-white u-url p-name">
{{title}}
</a></strong></h1>
<p class="p-summary">{{description | default: subtitle}}</p>
<div class="p-1">
<small>
<span>
  {% for tag in tags %}
    {% assign tag_slug = tag | slugify | downcase %}
    {% assign tag_words = tag | replace: '-', ' ' | split: ' ' %}
    {% capture tag_label %}{% for word in tag_words %}{{ word | downcase | capitalize }}{% unless forloop.last %} {% endunless %}{% endfor %}{% endcapture %}
    <a href="{{site.baseurl}}/tags/{{ tag_slug }}/" class="p-category"><code><nobr>#{{ tag_label | strip }}</nobr></code>&nbsp;</a>
  {% endfor %}
</span>
</small>
</div>
</div>

</div>
</div>

				
<div class="container">
<div class="row">
<div class="col-md-8 offset-md-2 p-3 p-md-5">
<div class="mb-5 ">
<section id="features-full" class="language-markup e-content">
 	{{episode_embed_html}}
	</div>
	{{content}}
</section>


<div class="row mt-5">
<div class="col-md-6 col-6 text-start">
    {% if previous.url %}
    <a href="{{previous.url}}" class="text-start btn btn-orange">&laquo; Previous</a>
	{% else %}
    {% endif %}
  </div>
  <div class="col-md-6 col-6 text-end">
    {% if next.url %}	
    <a href="{{next.url}}" class="text-end btn btn-orange">Next &raquo;</a>
	{% else %}
    {% endif %}
  </div>
</div>  

</div>
</div>
</div>

</main>

{%- include "footer.html" -%}
