{%- include "head.html" -%}
{%- include "widget/navbar.html" -%}

<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1 p-3 p-md-5">
<h1><strong>{{title}}</strong></h1>
<p class="text-white">{{description}}</p>

{{content}}

</div>
</div>
</div>

{%- include "footer.html" -%}

<style>
  pagefind-input,
  pagefind-summary,
  pagefind-results {
    --pagefind-ui-primary: #d9230f;
    --pagefind-ui-text: #fff;
    --pagefind-ui-background: rgba(255, 255, 255, 0.05);
    --pagefind-ui-border: rgba(255, 255, 255, 0.2);
    --pagefind-ui-tag: rgba(255, 255, 255, 0.1);
  }
</style>
