<nav class="navbar dark navbar-expand-lg border-bottom border-secondary">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="img-fluid" width="220" height="120" alt="podcast" src="{{site.logo}}"/></a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <small>Menu</small> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left text-white" viewBox="0 0 16 16">
  <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
</svg>
	 
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-3">
	  {% for nav in site.data.widget.nav %}
        <li class="nav-item nos">
          <a class="nav-link nos text-white" title="{{nav.menu}}" href="{{nav.url}}">{{nav.menu}}</a>
        </li>
{% endfor %}
      
      </ul>
      
        <a href="{{site.subscribe.link}}" class="btn-orange p-3 btn col-md-2 col-12 border-dark" type="submit"><strong>{{site.subscribe.title}}</strong></a>
    </div>
  </div>
</nav>