var Token = _.Token = function(type, content, alias, matchedStr, greedy) {
	this.type = type;
	this.content = content;
	this.alias = alias;
	// Copy of the full string this token was created from
	this.length = (matchedStr || "").length|0;
	this.greedy = !!greedy;
};

@import url(http://fonts.googleapis.com/css?family=Arvo&display=swap);


html,body,p,li {
	font-family: 100%/1.5 Questrial, sans-serif;
	tab-size: 4;
	hyphens: auto;
}

a {
	color: inherit;
}

section h1 {
	font-size: 250%;
}

section h1,
#features li strong,
header h2,
footer p {
	font-family: 100% Rockwell, Arvo, serif;
}
body {
background-image: url('/assets/images/pattern.svg');
background-color: black;
background-repeat: repeat;
background-position: center;"	
}
.dark {
	background-color: #111118;
}
.nav-item a:hover {
  border-bottom: 3px solid #ec5033;
}
.orange {
  background-color: #ec5033;
  padding: 10px;
  color: white;
  border: black;
}
.btn-orange:hover , .pods:hover {
  background-color: #ec5033;
  padding: 10px;
  color: white;
}
.pods {
	background-color: #212529;
}
.subs {
	font-size: 60px;
}
.sub, .sub a:link {
	font-size: 20px;
text-decoration: none;
}
p a:link,a:hover, li a:link,a:hover  {
text-decoration: underline;
}
.nos a:link,a:hover  {
text-decoration: none;
}
a:link,a:hover {
text-decoration: none;
color: white;
}
a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}


	a {
		color: inherit;
		text-decoration: none;
	}
}

h1 {
	font-size: 2.66667em;
}

h2 {
	font-size: 2.22222em;
}

h3 {
	font-size: 1.66667em;
}

h4 {
	font-size: 1.33333em;
}

h5 {
	font-size: 1.11111em;
}

h6 {
	font-size: 1em;
}
img {
  max-width: 100%;
}
  .crop {
  width: 400px;
  height: 200px;
  object-fit: cover;
}
.element:hover {
  display: inline-block;
  animation: pulse; 
  animation-duration: 1.5s;
}
/* blockquote */
blockquote {
	border-left: 6px solid #ec5033;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
	color: #ec5033;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
  }
  blockquote p {
	display: inline;
  }