---
layout: new
title: Episodes
description: List of episodes in order
image: /assets/images/mapping-doctrine-of-discovery-favicon.webp
text: Get Podcast Straight Into your Inbox
button: Subscribe
---

<main class="dark container-fluid border-top border-secondary"
style="background-image: url('/assets/images/pattern.svg');
background-repeat: repeat;
background-position: center;">
<div class="container">
<div class="row justify-content-center  mt-5">
{% for post in paginator.posts %}
<a href="{{post.url}}" class="text-start col-md-4 p-3 mb-3 shadow element">
{% assign posts = site.posts %}
<div class="border border-secondary">
<img class="img-fluid crop" alt="podcast" width="600" height="400" src="{{post.image}}"/>
<div class="p-3 text-light bg-dark">
<p><small>{{ post.date | date_to_string }}</small></p>
<h3><strong>
{{post.title}}
</strong></h3>
<p>{{post.excerpt}}</p>
</div>
</div>
{% endfor %}
</a>
</div>

<!-- pagination -->
<div class="row p-3">
<div class="pagination row p-1 text-center">
{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}">
Previous
</a>
{% else %}
<span class="previous col-md-4 text-start">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg> Previous</span>
{% endif %}
<span class="page_number col-md-4">
Page: {{ paginator.page }} of {{ paginator.total_pages }}
</span>
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}">Next</a>
{% else %}
<span class="next col-md-4 text-end">Next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>
</span>
{% endif %}
</div>
</div>
</div>
</main>
<!-- end pagination -->

<!-- form -->
<div class="row mt-3 bg-dark">
<div class="text-center col-md-8 offset-md-2 p-3 p-md-5">
<form action="https://formspree.io/f/{form_id}" method="post">
<label for="email"><h3>{{page.text}}</h3></label>
<input class="form-control" name="Email" id="email" type="email"><br/>
<button class="orange btn btn-lg p-3" type="submit">{{page.button}}</button>
</form>
</div>
<!-- end form -->
</div>