{%- include head.html -%}
{%- include widget/navbar.html -%}

<div class="container">
<div class="row mt-5">
<div class="col-md-6 p-3 p-md-5 text-white language-markup"
 id="features-full" >
<img class="img-fluid" width="100%" height="100%" alt="{{page.image_alt}}" src="{{page.image}}"/>
</div>

<!-- {% include archive.html %} -->

<div class="col-md-6 p-3 p-md-5">
<p>
Author: 
  {% assign author = site.authors | where: 'uid', page.author | first %}
  {% if author %}
    <a rel="author" href="{{ author.url }}" class="ms-1">{{ author.uid }}</a>
  {% endif %}
</p>
<p><small>  {% for category in page.categories %}
    {% capture category_name %}{{ category }}{% endcapture %}
    <a href="{{site.baseurl}}/categories.html#{{category}}">{{ category_name }}&nbsp;</a> ·
  {% endfor %}  {{ page.date | date_to_string }} <span class="ms-5">
<a href="{{site.notes.url}}" class="text-oreo text-nodeco" title="{{site.notes.text}}">{{site.notes.text}}</a></span>
</small></p>
<h1>
<strong><a href="{{page.url}}" class="text-white">
{{page.title}}
</a></strong></h1>
<p>{{page.subtitle}}</p>
<div class="p-1">
<small>
{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

<span>
  {% for tag in page.tags %}
    {% assign tag_slug = tag | slugify | downcase %}
    {% assign tag_words = tag | replace: '-', ' ' | split: ' ' %}
    {% capture tag_label %}{% for word in tag_words %}{{ word | downcase | capitalize }}{% unless forloop.last %} {% endunless %}{% endfor %}{% endcapture %}
    <a href="{{site.baseurl}}/tag.html#{{ tag_slug }}"><code><nobr>#{{ tag_label | strip }}</nobr></code>&nbsp;</a>
  {% endfor %}
</span>
</small>
</div>
</div>

</div>
</div>

				
<div class="container">
<div class="row">
<div class="col-md-8 offset-md-2 p-3 p-md-5">
<div class="mb-5 ">
<section id="features-full" class="language-markup">
 	{{page.episode_embed_html}}
	</div>
	{{content}}
</section>


<div class="row mt-5">
<div class="col-md-6 col-6 text-start">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="text-start btn btn-orange">&laquo; Previous</a>
	{% else %}
    {% endif %}
  </div>
  <div class="col-md-6 col-6 text-end">
    {% if page.next.url %}	
    <a href="{{page.next.url}}" class="text-end btn btn-orange">Next &raquo;</a>
	{% else %}
    {% endif %}
  </div>
</div>  

</div>
</div>
</div>


{%- include footer.html -%}
