<header class="container-fluid"
style="background-image: url('{{site.header.background}}');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
background-size: cover;">
<div class="container">
<div class="row">
<div class="col-md-6 p-3 p-md-5 text-white">
<img class="img-fluid" width="600" height="600" alt="{{site.header.title}}" src="{{site.header.cover}}"/>
</div>

<div class="col-md-6 p-3 p-md-5 text-white">
<h1>
<strong><a href="/" class="text-white">
{{site.header.title}}
</a></strong></h1>
<h2 class="mt-3">{{site.header.description}}</h2>
<h3 class="mt-3">{{site.header.content}}</h3>
<p class="sub"><a href="{{site.header.btnurl}}" class="btn btn-light shadow col-md-8 col-12 p-3 mt-3 text-dark">{{site.header.btn}}</a></p>
</div>
</div>
</div>

</header>